html, body {
    height: 100%;
    margin: 0;
}
.rectangulo{
 position: absolute;
 width : 100%;
 height : 30vh;
 background-color: #fcd00f;
 top: 0;

}
.textinho{
position: absolute;
top: 3vh;
left: 45%;
background-color: orange;
}
.texto{
position: relative;
margin-left: 45%;
display: inline-block;
top: 6vh;
background-color: white;

}
.cuadrado
{
position: absolute;
top: 50px;
left: 40vh;
background-color: orange;
width: 25vh;
height: 21vh;
}

.rectangulo2{
background-color: rgb(201, 199, 199);
position: absolute;
height: 15vh;
width: 100%;
top: 85vh;
}

.textograndeabajo{
position: absolute;
left: 40vh;
background-color: grey;
}

.textograndeabajo2{
position: absolute;
left: 90vh;
background-color: grey;
}

.textograndeabajo3{
position: absolute;
left: 140vh;
background-color: grey;
}

.textochicoabajo{
position:absolute;
top: 30px;
left:41vh;
background-color: white;
}

.textochicoabajo2{
position:absolute;
top: 60px;
left:41vh;
background-color: white;
}

.textochicoabajo3{
position: absolute;
top: 90px;
left: 45vh;
background-color: white;
}

.textochicoabajo4{
position: absolute;
top: 30px;
left: 91vh;
background-color: white;
}
.textochicoabajo5{
position: absolute;
top: 60px;
left: 91vh;
background-color: white;
}

.textochicoabajo6{
position: absolute;
top: 90px;
left: 95vh;
background-color: white;
}

.textochicoabajo7{
position: absolute;
top: 30px;
left: 141vh;
background-color: white;
}

.textochicoabajo8{
position: absolute;
top: 60px;
left: 141vh;
background-color: white;
}

.textochicoabajo9{
position: absolute;
top: 90px;
left: 145vh;
background-color: white;
}

.cuadrado1{
position: absolute;
height: 20vh;
width: 20vh;
background-color: lightblue;
top: 35vh;
left: 40vh;
}

.cuadradochico1{
position: absolute;
height: 10vh;
width: 10vh;
background-color: blue;
left: 45vh;
top: 40vh;
}

.rectangulochico1{
position:absolute;
height: 2vh;
width: 20vh;
background-color: blue;
left: 40vh;
top: 35vh;
}

.cuadrado2{
position: absolute;
height: 20vh;
width: 20vh;
background-color: lightcoral;
top: 35vh;
left: 90vh;
}

.cuadradochico2{
position: absolute;
height: 10vh;
width: 10vh;
background-color: red;
left: 95vh;
top: 40vh;
}

.rectangulochico2{
position:absolute;
height: 2vh;
width: 20vh;
background-color: red;
left: 90vh;
top: 35vh;
}
.cuadrado3{
position: absolute;
height: 20vh;
width: 20vh;
background-color: #fcd00f;
top: 35vh;
left: 140vh;
}

.cuadradochico3{
position: absolute;
height: 10vh;
width: 10vh;
background-color: orange;
left: 145vh;
top: 40vh;
}

.rectangulochico3{
position:absolute;
height: 2vh;
width: 20vh;
background-color: orange;
left: 140vh;
top: 35vh;
}
.cuadrado4{
position: absolute;
height: 20vh;
width: 20vh;
background-color: #fcd00f;
left: 40vh;
top: 60vh;
}

.cuadradochico4{
position: absolute;
height: 10vh;
width: 10vh;
background-color: orange;
left: 45vh;
top: 65vh;
}

.rectangulochico4{
position:absolute;
height: 2vh;
width: 20vh;
background-color: orange;
left: 40vh;
top: 60vh;
}